@mixin make-container() {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

@mixin get-container {
    .container,
    .container-fluid {
        @include make-container();
    }

    @each $breakpoint, $container-max-width in $container-max-widths {
        .container-#{$breakpoint} {
            @extend .container-fluid;
        }

        @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
            %responsive-container-#{$breakpoint} {
                max-width: $container-max-width;

                $gutter: map-get($container-padding, $breakpoint);
                @if ($gutter) {
                    padding-right: $gutter;
                    padding-left: $gutter;
                }
            }

            $extend-breakpoint: true;

            @each $name, $width in $grid-breakpoints {
                @if ($extend-breakpoint) {
                    .container#{breakpoint-infix($name, $grid-breakpoints)} {
                        @extend %responsive-container-#{$breakpoint};
                    }

                    @if ($breakpoint == $name) {
                        $extend-breakpoint: false;
                    }
                }
            }
        }
    }
}
