@mixin editor-setting {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.17rem;
    }

    h4 {
        font-size: 1rem;
    }

    h5 {
        font-size: 0.83rem;
    }

    h6 {
        font-size: 0.67rem;
    }

    p {
        font-size: 1rem;
    }

    strong {
        font-weight: map-get($font-weight, bold);
    }

    em {
        font-style: italic;
    }

    blockquote {
        display: block;
        margin-inline-start: 2.5rem;
        margin-inline-end: 2.5rem;
    }

    ul {
        list-style-type: disc;
        margin-inline-start: 1.5rem;
    }

    ol {
        list-style-type: decimal;
        margin-inline-start: 1.5rem;
    }

    hr {
        margin-block-start: 0.5rem;
        margin-block-end: 0.5rem;
    }
}
