$default-gutter: 24px;

@mixin flex-grid($child-class, $col, $total-col: 12, $gutter: $default-gutter) {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    >#{$child-class} {
        $cols: calc($total-col / $col - 1);

        @for $i from 1 through $col {
            &:nth-child(#{$col}n + #{$i}) {
                $calcs: calc((100% - #{$gutter} * #{$col - 1}) / #{($col)});

                width: $calcs;
                max-width: $calcs;
                flex: 0 0 $calcs;

                @if $i % ($col + 1) != 1 {
                    margin-left: $gutter;
                }
            }
        }

        @for $i from 1 through $cols {
            $calcs: calc((100% - #{$gutter} * #{$total-col - 1}) / #{$total-col} * #{$i} + #{$gutter * $i});

            &.-os-l-#{$i} {
                padding-left: $calcs;
            }

            &.-os-r-#{$i} {
                padding-right: $calcs;
            }
        }
    }
}

@mixin cal-grid-2($current_col, $another_col, $gutter) {
    $total-col: $current_col + $another_col;
    $percent: calc($current_col / $total-col);
    $another-percent: calc($another_col / $total-col);

    // $calcs: calc(100% / #{$total-col} * #{$current_col} - #{$gutter} / #{$total-col} * #{$another_col});  原始邏輯
    $calcs: calc(#{100% * $percent} - #{$gutter * $another-percent});
    $cols: calc(12 / $total-col * $current_col - 1);

    width: #{$calcs};
    max-width: #{$calcs};
    flex: 0 0 #{$calcs};

    @for $i from 1 through $cols {
        // $calcs:calc(((100% - 11 * #{$gutter}) / 12 * #{$i}) + #{$gutter} * #{$i}); 原始邏輯
        $percent: calc($i / $total-col);
        $calcs: calc(#{100% * $percent} + #{$gutter * $i - ($total-col - 1) * $gutter * $percent});

        &.-os-l-#{$i} {
            padding-left: $calcs;
        }

        &.-os-r-#{$i} {
            padding-right: $calcs;
        }
    }
}

@mixin flex-grid-2($child-class, $col_1, $col_2, $gutter: $default-gutter) {
    display: flex;
    flex-wrap: wrap;

    >#{$child-class} {
        &:nth-child(2n + 1) {
            @include cal-grid-2($col_1, $col_2, $gutter);
        }

        &:nth-child(2n) {
            @include cal-grid-2($col_2, $col_1, $gutter);

            margin-left: $gutter;
        }
    }
}
