$font-weight: (
    light: 300,
    normal: 400,
    medium: 500,
    bold: 700
);
$font-family: (
    default: #{
        'Helvetica Neue',
        'Helvetica',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        sans-serif
    },
    en: #{
        'Helvetica Neue',
        'Helvetica',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        sans-serif
    },
);

@mixin typo($lv, $type) {
    @if $lv == 'display' {
        @if $type == 1 {
            font-size: 4rem;
            font-family: map-get($font-family, en);
            font-weight: map-get($font-weight, bold);
            line-height: 1.4;

        } @else if $type == 2 {
            font-size: 3rem;
            font-family: map-get($font-family, en);
            font-weight: map-get($font-weight, bold);
            @include media-breakpoint-down(tablet) {
                font-size: 36px;
            }
        } @else if $type == 3 {
            font-size: 14px;
            font-family: map-get($font-family, default);
            font-weight: map-get($font-weight, bold);
            line-height: normal;

            body.language-en &, &.-en {
                font-family: map-get($font-family, en);
            }
        } @else {
            @error '#{$type}:沒有這個type';
        }
    } @else if $lv == 'head' {
        @if $type == 1 {
            font-size: 2rem;
            line-height: 1.6;
            font-weight: map-get($font-weight, medium);
            font-family: map-get($font-family, default);

            body.language-en &, &.-en {
                font-family: map-get($font-family, en);
            }

            @include media-breakpoint-down(tablet) {
                font-size: 28px;
            }
        } @else if $type == 2 {
            font-size: 1.6rem;
            line-height: 1.6;
            font-family: map-get($font-family, default);
            font-weight: map-get($font-weight, medium);

            body.language-en &, &.-en {
                font-family: map-get($font-family, en);
            }

        } @else if $type == 3 {
            font-size: 1.2rem;
            line-height: 1.6;
            font-family: map-get($font-family, default);
            font-weight: map-get($font-weight, medium);

            body.language-en &, &.-en {
                font-family: map-get($font-family, en);
            }
        } @else {
            @error '#{$type}:沒有這個type';
        }
    } @else if $lv == 'body' {
        @if $type == 1 {
            font-size: 14px;
            font-family: map-get($font-family, default);
            font-weight: map-get($font-weight, medium);
            line-height: 24px;

            body.language-en &, &.-en {
                font-family: map-get($font-family, en);
                line-height: normal;
            }
        } @else {
            @error '#{$type}:沒有這個type';
        }
    } @else if $lv == 'button' {
        @if $type == 1 {
            line-height: 1.6;
            font-family: map-get($font-family, en);
            font-weight: map-get($font-weight, normal);
        } @else if $type == 2 {
            line-height: 1.6;
            font-family: map-get($font-family, en);
            font-weight: map-get($font-weight, medium);
        } @else {
            @error '#{$type}:沒有這個type';
        }
    } @else {
        @error '#{$lv}:沒有這個level';
    }
}
