$grid-columns: 12;
$grid-row-columns: 6;
$grid-gutter-width: 25px;
$grid-breakpoints: (
    mobile: 0,
    tablet: 768px,
    medium: 1024px,
    desktop: 1200px,
    large: 1920px,
);

$container-max-widths: (
    mobile: 100%,
    tablet: 100%,
    medium: 100%,
    desktop: 100%,
    large: 1920px,
);
$container-padding: (
    mobile: 20px,
    tablet: 80px,
    desktop: 120px,
);

$colors: (
    brand-1: #ffe800,
    black-1: #000000,
    gray: #cec8c2,
    gray-line: #a5a09c,
    white: #ffffff,
);

$header-height: (
    desktop: 197px,
    medium: 197px,
    tablet: 150px,
    mobile: 114px,
);