:root {
    --vh: 1vh;
}

::selection {
    color: map-get($colors, white);
    background-color: map-get($colors, black);
}

@include get-container;
@include grid-system;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
button,
input,
textarea {
    @include typo('body', 1);

    color: map-get($colors, black);
    font-family: map-get($font-family, default);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    @include typo('body', 1);

    min-width: 320px;
    min-height: 100vh;
    overscroll-behavior: none;
    background-color: map-get($colors, gray);

    @include media-breakpoint-down(tablet) {
        height: 100%;
        min-height: auto;
    }
}

input,
textarea {
    @include typo('body', 1);

    border: none;
    appearance: none;

    &:autofill {
        -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
        -webkit-transition-delay: 9999s;
    }
}

pre {
    font-size: 12px;
    line-height: 1.2;
    color: rgb(0, 121, 84);
    white-space: pre-wrap;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        outline: 0;
    }
}

button {
    @include typo('button', 1);

    color: currentColor;
    background-color: transparent;
}

#wrapper {
    @include media-breakpoint-down(tablet) {
        height: 100%;
    }
}

#__nuxt {
    @include media-breakpoint-down(tablet) {
        height: 100%;

        > div {
            height: 100%;
        }
    }
}

.-seo {
    position: absolute;
    opacity: 0;
}


// locomotive-scroll

html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden !important;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}

[data-scroll-direction='horizontal'] [data-scroll-container] {
    display: inline-block;
    height: 100vh;
    white-space: nowrap;
}

[data-scroll-direction='horizontal'] [data-scroll-section] {
    display: inline-block;
    height: 100%;
    white-space: nowrap;
    vertical-align: top;
}

.c-scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    width: 11px;
    height: 100%;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    transform-origin: center right;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

[data-scroll-direction='horizontal'] .c-scrollbar {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 10px;
    transform: scaleY(1);
}

[data-scroll-direction='horizontal'] .c-scrollbar:hover {
    transform: scaleY(1.3);
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2px;
    width: 7px;
    background-color: black;
    border-radius: 10px;
    opacity: 0.5;
    cursor: -webkit-grab;
    cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

[data-scroll-direction='horizontal'] .c-scrollbar_thumb {
    bottom: 0;
    right: auto;
}
