.page {
    &-enter {
        &-from {
            opacity: 0;
            transform: translateY(5rem);
        }

        &-active {
            transition: all .4s cubic-bezier(0.22, 1, 0.36, 1);
        }
    }

    &-leave {
        &-to {
            opacity: 0;
        }

        &-active {
            transition: opacity .2s;
        }
    }
}

.list {
    &-enter {
        &-from {
            opacity: 0;
            transform: translateY(2rem);
        }

        &-active {
            transition: opacity 0.5s, transform .5s;
        }
    }

    // &-leave {
    //     &-to {
    //         opacity: 0;
    //     }
    //     &-active {
    //         transition: opacity 0.5s;
    //     }
    // }
}



@keyframes scrollLine {
    0% {
		background-position-y: -80px;
	}
    
	100% {
		background-position-y: 0px;
	}
}